/* Estilos generales */
:root {
    --color-primary: #6c9bcf; /* Color primario */
    --color-white: #ffffff; /* Color blanco */
}

/* Estilos de la paginación */
main .pagination-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    margin-top: 2rem;
}

main .pagination-container .prev,
main .pagination-container .next,
main .pagination .page {
    color: var(--color-primary);
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}

main .pagination-container .prev:hover,
main .pagination-container .next:hover,
main .pagination .page:hover:not(.active) {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}

main .pagination-container .prev.disabled,
main .pagination-container .next.disabled {
    pointer-events: none;
    opacity: 0.5;
}

main .pagination .active {
    background-color: var(--color-primary);
    color: var(--color-white);
}
