<!DOCTYPE html>
<html lang="en">

<head th:insert="~{plantilla/UITemplate :: cabecera(pageTitle='Estado de Préstamos')}">

<body>
    <div class="container">
        <!-- Sidebar Section -->
        <aside th:insert="~{plantilla/UITemplate :: sidebar}"></aside>
        <!-- End of Sidebar Section -->
        
        <!-- Main Content -->
        <main>
            <h1>Información</h1>
            <div class="analyse">
				<div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>Total de Prestamos</h3>
                            <h1 style="text-align: center;" th:text="${cuotasxPrestatario}"></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+81%</p>
                            </div>
                        </div>
                    </div>
                 </div>
			</div>
            <!-- Recent Orders  -->
            <div class="recent-orders">
                <h2>Consulta de Préstamos</h2>
                <div class="notification add-reminder" style="display: flex;">
					<div class="form-group caja">
							<div class="input-group has-validation">
								<label class="form-label"><b>Fecha Inicio:</b></label>
					    		<span for="idFechaVen" style="display: flex; align-items: center;">
								    <input type="text" id="idFechaIni" name="fechaInicio" class="form-control" placeholder="YYYY-MM-DD" autocomplete="off">
								    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-calendar" viewBox="0 0 16 16" style="margin-left: -25px;">
								        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
								    </svg>
								</span>
							</div>
						</div>
						<div class="form-group caja" style="padding-left: 40px">
							<div class="input-group has-validation">
								<label class="form-label"><b>Fecha Final:</b></label>
					    		<span for="idFechaVen" style="display: flex; align-items: center;">
								    <input type="text" id="idFechaFin" name="fechaFin" class="form-control" placeholder="YYYY-MM-DD" autocomplete="off">
								    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-calendar" viewBox="0 0 16 16" style="margin-left: -25px;">
								        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
								    </svg>
								</span>
							</div>
						</div>
						<div style="padding-left: 40px">
							<button class="btn-agregar" id="btn-buscar" style="margin-top: 10px;">
							    <span class="material-icons-sharp">
							      add
							    </span>
							    <h3 class="title-button"><b>Filtrar</b></h3>
							  </button>
						</div>
					  
				</div>
                
                
				<!-- Recent Orders Table -->
                <table id="tableProducto">
                    <thead>
                        <tr>
                            <th>Código de préstamo</th>
                            <th>Número de cuota</th>
                            <th>Monto cuota</th>
                            <th>Fecha de pago</th>
                            <th>Estado</th>
                            <th>Deuda</th>
                        </tr>
                    </thead>
                    <tbody>
						<tr th:each="row:${estadoCuotas}">
							<td th:text="${row.prestamo.codigo}"></td>
							<td th:text="${row.numero}"></td>
							<td th:text="${row.montoFijo}"></td>
							<td th:text="${row.fechaPago}"></td>
							<td>
							    <span th:if="${row.estado == 0}" style="color: yellow;">Pendiente</span>
							    <span th:if="${row.estado == 1}" style="color: green;">Pagado</span>
							    <span th:if="${row.estado == 2}" style="color: darkorange;">Pacial</span>
							</td>
							<td th:text="${row.monto}"></td>
						</tr>
					</tbody>
                </table>
            </div>
            <!-- End of Recent Orders -->
            
			
            <!-- Paginación -->
            <div class="pagination-container">
			    <a class="prev">Anterior</a>
			    <div class="pagination"></div>
			    <a class="next">Siguiente</a>
			</div>
        </main>
 
		    
        <!-- Right Section -->
        <div th:insert="~{plantilla/UITemplate :: section}"></div>
    </div>
    
	<div th:insert="~{plantilla/UITemplate :: js}"></div>
	<script th:src="@{/resources/js/pagination.js}"></script>
	
	<script>
		$(function() {
			$('#idFechaVen').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});
		});
		$('#idFechaVen').on('changeDate show', function(e) {
		    $('#idFormProducto').bootstrapValidator('revalidateField', $('#idFechaVen'));
		});
		
		
	</script>
	
	<script>
		$(function() {
			$('#idFechaIni').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});
		});
		
		
	</script>
	
	<script>
		$(function() {
			$('#idFechaFin').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});
		});
		
		
	</script>
	
	
	
	<script>		
		$(document).on("click", "#btn-buscar", function() {
		    let fechaInicio = $("#idFechaIni").val();
		    let fechaFin = $("#idFechaFin").val();
		
		    	const tableBody = document.querySelector("#tableProducto tbody");
                tableBody.innerHTML = "";
		
		    $.get("/reporte/filtrarPorFecha?fechaInicio="+fechaInicio+"&fechaFin="+fechaFin, function(response) {
		        // Bucle
		        $.each(response,function(index,item) {
					$("#tableProducto").append(`<tr>
		                    <td>${item.prestamo.codigo}</td>
		                    <td>${item.numero}</td>
		                    <td>${item.montoFijo}</td>
		                    <td>${item.fechaPago}</td>
		                    <td style="color: ${
							  item.estado === 0
							    ? 'yellow'
							    : item.estado === 1
							    ? 'green'
							    : 'darkorange'
							  }">${item.estado === 0 ? 'Pendiente' : (item.estado === 1 ? 'Pagado' : 'Parcial')}</td>
		                    <td>${item.monto}</td>
		                </tr>`)

		        });
		        showPage(currentPage);
				createPagination();
				updatePrevNextButtons()
		    });
		});
	</script>

	
	<script>
		$(document).on("click", ".custom-button", function() {
			modal.classList.add('modal--show');
		});
	</script>
	
</body>
</html>